<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <!-- Set up the service name -->
    <springProperty scope="context" name="appName" source="spring.application.name"
              defaultValue="new-project-launch-tool"/>

    <springProperty scope="context" name="filePath" source="logging.path"
                    defaultValue="./"/>

    <springProperty scope="context" name="fileName" source="logging.file"
                    defaultValue="service.log"/>

    <!--include custom appenders from base template including logstash used below-->
    <include resource="logback-appenders.xml" />

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!--<contextName>${HOSTNAME}</contextName>-->

    <!-- By default, Console appender is always included and enabled -->
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <logger name="io.github.openfeign" level="error"/>

    <root level="ERROR" >
        <springProfile name="dev">
            <appender-ref ref="logstash"/>
        </springProfile>

        <springProfile name="qa,staging,production">
            <appender-ref ref="FILE"/>
        </springProfile>
    </root>

</configuration>
